[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchaudio = "*"
lightning = "*"
jsonargparse = {version = "*", extras = ["signatures"]}
wandb = "*"
auraloss = "*"
pyloudnorm = "*"
opt-einsum = "*"
einops = "*"
notebook = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
