[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.0"
torchaudio = "*"
lightning = "2.0.6"
jsonargparse = {version = "*", extras = ["signatures"]}
wandb = "*"
auraloss = "*"
pyloudnorm = "*"
opt-einsum = "*"
einops = "*"
notebook = "*"
numpy = "<=1.24"
scipy = "*"
pandas = "*"
matplotlib = "*"
resampy = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
