[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchaudio = "*"
einops = "*"
ipython = "*"
notebook = "*"
tqdm = "*"
rootconfig = "*"
numpy = "*"
scipy = "*"
opt-einsum = "*"
pandas = "*"
auraloss = "*"
wandb = "*"
jupyter = "*"
ipywidgets = "*"
torchvision = "*"
pyloudnorm = "*"
torchinfo = "*"
matplotlib = "*"
soundfile = "*"
plotly = "*"
pytorch-lightning = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
